<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil del usuario</h4>
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre</label>
                                    <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" id="exampleInputEmail1" required placeholder="Nombre de usuario">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Correo</label>
                                    <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Agregar</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title">Fotografía del usuario</h4>
                <img *ngIf="!imgTemp" [src]="usuario.img | imagen" class="w150 text-center" height="50" width="50">
                <img *ngIf="imgTemp" [src]="imgTemp" class="w150 text-center" height="50" width="50">
                <input (change)="seleccionarImg($event.target.files[0])" type="file">
                <br>
                <br>
                <button (click)="agregarImg()" [disabled]="!image" type="submit" class="btn btn-success waves-effect waves-light m-r-10">Actualizar foto</button>
            </div>
        </div>
    </div>
</div>
