<div class="modal-header">
  <h4 class="modal-title">{{ modalTitle }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h6 class="headerTextVianey">Datos personales</h6><br>
  <form [formGroup]="formCliente" novalidate>
      <div class="form-body">
          <div class="row">
              <div  class="form-group col-md-4">
                  <span class="ui-float-label">
                      <input class="col-md-12" formControlName="nombre" id="nombre" type="text" pInputText>
                      <label for="nombre">Nombre</label>
                  </span>
                  <small style="color: red;" *ngIf="(formCliente.get('nombre').touched || formCliente.get('nombre').dirty ) &&
                  !formCliente.get('nombre').valid">Este campo es requerido *</small>
              </div>
              <div  class="form-group col-md-4">
                  <span class="ui-float-label">
                      <input class="col-md-12" formControlName="apellido" id="apellido" type="text" pInputText>
                      <label for="apellido">Apellido</label>
                  </span>
              </div>
              <div  class="form-group col-md-4">
                <span class="ui-float-label">
                    <p-dropdown [style]="{'width':'100%'}" [options]="tipoVentaArr" optionLabel="nombre" datakey="id" formControlName="tipoVenta"></p-dropdown>
                    <label for="tipoVenta">Seleccionar tipo venta</label>
                </span>
            </div>
          </div>
      </div>
      <div *ngFor="let producto of p.controls; let i = index" class="list-group list-group-flush">
          <h6 class="headerTextVianey">Datos del producto</h6> <br>
          <div class="form-body">
              <div [formGroup]="producto" class="row">
                  <div class="row col-md-12 m-0">
                      <div  class="form-group col-md-6">
                          <span class="ui-float-label">
                              <input class="col-md-12" formControlName="claveProducto" id="claveProducto" type="text" pInputText>
                              <label for="claveProducto">clave Producto</label>
                          </span>
                      </div>
                      <div  class="form-group col-md-6">
                          <span class="ui-float-label">
                              <input class="col-md-12" formControlName="nombreProducto" id="nombreProducto" type="text" pInputText>
                              <label for="nombreProducto">Nombre producto</label>
                          </span>
                          <small style="color: red;" *ngIf="(producto.get('nombreProducto').touched || producto.get('nombreProducto').dirty ) &&
                          !producto.get('nombreProducto').valid">Este campo es requerido *</small>
                      </div>
                  </div>
                  <div class="row col-md-12 m-0">
                      <div  class="form-group col-md-12">
                          <span class="ui-float-label">
                              <textarea class="col-md-12" formControlName="descripcion" id="descripcion" type="text" pInputText></textarea>
                              <label for="descripcion">Descripcion del producto</label>
                          </span>
                      </div>
                  </div>
                  <div class="row col-md-12 m-0">
                    <div  class="form-group col-md-4">
                      <span class="ui-float-label">
                          <input class="col-md-12" formControlName="cantidad" id="cantidad" type="number" pInputText>
                          <label for="cantidad">Cantidad</label>
                      </span>
                      <small style="color: red;" *ngIf="(producto.get('cantidad').touched || producto.get('cantidad').dirty ) &&
                      !producto.get('cantidad').valid">Cantidad debe ser mayor a 1 *</small>
                  </div>
                      <div  class="form-group col-md-4">
                          <span class="ui-float-label">
                              <input class="col-md-12" formControlName="precioProveedor" id="precioProveedor" type="number" pInputText>
                              <label for="precioProveedor">Precio proveedor</label>
                          </span>
                          <small style="color: red;" *ngIf="(producto.get('precioProveedor').touched || producto.get('precioProveedor').dirty ) &&
                          !producto.get('precioProveedor').valid">Precio debe ser mayor a 1 *</small>
                      </div>
                      <div  class="form-group col-md-4">
                          <span class="ui-float-label">
                              <input class="col-md-12" formControlName="precioCliente" id="precioCliente" type="number" pInputText>
                              <label for="precioCliente">Precio cliente</label>
                          </span>
                          <small style="color: red;" *ngIf="(producto.get('precioCliente').touched || producto.get('precioCliente').dirty ) &&
                          !producto.get('precioCliente').valid">Precio debe ser mayor a 1 *</small>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12" *ngIf="i !== 0">
                      <button type="button" (click)="eliminar(i)" class="btn btn-outline-danger float-right"><fa-icon [icon]="faTrash"></fa-icon></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <h6 class="headerTextVianey col-lg-4">Cantidad de productos: <strong>{{ cantidad }}</strong> </h6>
        <h6 class="headerTextVianey col-lg-4">Total Proveedor: <strong>{{ totalSum | currency}}</strong> </h6>
        <h6 class="headerTextVianey col-lg-4">Total Cliente: <strong>{{ totalSumCliente | currency }}</strong></h6>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <button type="button" (click)="save()" class="btn btn-outline-success float-right mt-3 ml-2"><fa-icon [icon]="faSave"></fa-icon> Guardar</button>
              <button type="button" (click)="agregarPedido()" class="btn btn-outline-info float-right mt-3 mr-2"><fa-icon [icon]="faAdd"></fa-icon> Producto</button>
          </div>
      </div>
  </form>
</div>
