<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <button type="button" routerLink="/dashboard" class="btn btn-outline-info float-right"><fa-icon [icon]="faArrowAltCircleLeft"></fa-icon></button>                              
                <form [formGroup]="dynamicForm" novalidate>
                    <div class="form-body">
                        <h3 class="header-h3">Datos Personales</h3>
                        <br>
                        <div formGroupName="data" class="row">
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <input class="col-md-12" formControlName="nombre" id="nombre" type="text" pInputText> 
                                    <label for="nombre">Nombre</label>
                                </span>
                            </div>
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <input class="col-md-12" formControlName="apellidoP" id="apellidoP" type="text" pInputText> 
                                    <label for="apellidoP">Appelido Paterno</label>
                                </span>
                            </div>
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <input class="col-md-12" formControlName="apellidoM" id="apellidoM" type="text" pInputText> 
                                    <label for="apellidoM">Apellido Materno</label>
                                </span>
                            </div>
                        </div>
                        <div formGroupName="data" class="row">
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <input class="col-md-12" formControlName="correo" id="correo" type="text" pInputText> 
                                    <label for="correo">Correo</label>
                                </span>
                            </div>
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <input class="col-md-12" formControlName="telefono" id="telefono" type="text" pInputText> 
                                    <label for="telefono">Telefono</label>
                                </span>
                            </div>
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [showButtonBar]="true" [maxDate]="maxDate" id="fechaNacimiento" formControlName="fechaNacimiento"></p-calendar>
                                    <label [style]="{'width':'100%'}" for="fechaNacimiento">Fecha Nacimiento</label>
                                </span>
                            </div>
                        </div>
                        <h3 class="header-h3">Datos Pasaporte y Visa</h3>
                        <br>
                        <div formGroupName="data" class="row">
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <p-dropdown [style]="{'width':'100%'}" [options]="estatus" optionLabel="nombre" datakey="id" formControlName="estatus"></p-dropdown>                                    
                                    <label for="estatus">Seleccionar estatus</label>
                                </span>
                            </div>
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <input class="col-md-12" formControlName="noPasaporte" id="noPasaporte" type="text" pInputText> 
                                    <label for="noPasaporte">No. pasaporte</label>
                                </span>
                            </div>
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [showButtonBar]="true" [maxDate]="maxDate" id="fechaCitaPasaporte" formControlName="fechaCitaPasaporte"></p-calendar>
                                    <label [style]="{'width':'100%'}" for="fechaCitaPasaporte">Fecha cita pasaporte</label>
                                </span>
                            </div>
                        </div>
                        <div formGroupName="data" class="row">
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <input class="col-md-12" formControlName="ds160" id="ds160" type="text" pInputText> 
                                    <label for="ds160">No. DS160</label>
                                </span>
                            </div>
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <p-dropdown [style]="{'width':'100%'}" [options]="estatusVisa" optionLabel="nombre" datakey="id" formControlName="estatusVisa"></p-dropdown>                                    
                                    <label for="estatusVisa">Seleccionar estatus visa</label>
                                </span>
                            </div>
                            <div  class="form-group col-md-4">
                                <span class="ui-float-label">
                                    <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [showButtonBar]="true" [maxDate]="maxDate" id="fechaCitaVisa" formControlName="fechaCitaVisa"></p-calendar>
                                    <label [style]="{'width':'100%'}" for="fechaCitaVisa">Fecha cita visa</label>
                                </span>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div *ngFor="let cliente of c.controls; let i = index" class="list-group list-group-flush">
                        <div class="form-body">
                            <div [formGroup]="cliente" class="row">
                                <h3 class="header-h3 ml-4">Datos Personales</h3>
                                <br><br>
                                <div class="row col-md-12 m-0">
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <input class="col-md-12" formControlName="nombre" id="nombre" type="text" pInputText> 
                                            <label for="nombre">Nombre</label>
                                        </span>
                                    </div>
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <input class="col-md-12" formControlName="apellidoP" id="apellidoP" type="text" pInputText> 
                                            <label for="apellidoP">Appelido Paterno</label>
                                        </span>
                                    </div>
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <input class="col-md-12" formControlName="apellidoM" id="apellidoM" type="text" pInputText> 
                                            <label for="apellidoM">Apellido Materno</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="row col-md-12 m-0">
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <input class="col-md-12" formControlName="correo" id="correo" type="text" pInputText> 
                                            <label for="correo">Correo</label>
                                        </span>
                                    </div>
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <input class="col-md-12" formControlName="telefono" id="telefono" type="text" pInputText> 
                                            <label for="telefono">Telefono</label>
                                        </span>
                                    </div>
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [showButtonBar]="true" [maxDate]="maxDate" id="fechaNacimiento" formControlName="fechaNacimiento"></p-calendar>
                                            <label [style]="{'width':'100%'}" for="fechaNacimiento">Fecha Nacimiento</label>
                                        </span>
                                    </div>
                                </div>
                                <h3 class="header-h3 ml-4">Datos Pasaporte y Visa</h3>
                                <br><br>
                                <div class="row col-md-12 m-0">
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <p-dropdown [style]="{'width':'100%'}" [options]="estatus" optionLabel="nombre" datakey="id" formControlName="estatus"></p-dropdown>                                    
                                            <label for="estatus">Seleccionar estatus</label>
                                        </span>
                                    </div>
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <input class="col-md-12" formControlName="noPasaporte" id="noPasaporte" type="text" pInputText> 
                                            <label for="noPasaporte">No. pasaporte</label>
                                        </span>
                                    </div>
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [showButtonBar]="true" [maxDate]="maxDate" id="fechaCitaPasaporte" formControlName="fechaCitaPasaporte"></p-calendar>
                                            <label [style]="{'width':'100%'}" for="fechaCitaPasaporte">Fecha cita pasaporte</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="row col-md-12 m-0">
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <input class="col-md-12" formControlName="ds160" id="ds160" type="text" pInputText> 
                                            <label for="ds160">No. DS160</label>
                                        </span>
                                    </div>
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <p-dropdown [style]="{'width':'100%'}" [options]="estatusVisa" optionLabel="nombre" datakey="id" formControlName="estatusVisa"></p-dropdown>                                    
                                            <label for="estatusVisa">Seleccionar estatus visa</label>
                                        </span>
                                    </div>
                                    <div  class="form-group col-md-4">
                                        <span class="ui-float-label">
                                            <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [showButtonBar]="true" [maxDate]="maxDate" id="fechaCitaVisa" formControlName="fechaCitaVisa"></p-calendar>
                                            <label [style]="{'width':'100%'}" for="fechaCitaVisa">Fecha cita visa</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="button" (click)="eliminar(i)" class="btn btn-outline-danger float-right"><fa-icon [icon]="faTrash"></fa-icon></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" (click)="save()" class="btn btn-outline-success float-right mt-3 ml-2"><fa-icon [icon]="faSave"></fa-icon> {{ textBoton }}</button>
                            <button type="button" (click)="agregar()" class="btn btn-outline-info float-right mt-3 mr-2"><fa-icon [icon]="faAdd"></fa-icon> Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>