<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body" style="padding: 2%;">
                <app-filters (filterResult)="filteResult($event)"></app-filters>
                  <p-treeTable [value]="files" [columns]="cols" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns; let i = index">
                                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                <!-- <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>-->
                                {{ i !== 3 ? rowData[col.field]  : rowData[col.field] | date: 'short' }}
                            </td>
                            <td class="text-center" (click)="editar(rowNode)"><fa-icon [icon]="faEdit"></fa-icon></td>
                        </tr>            
                    </ng-template>
                  </p-treeTable>
            </div>
        </div>
    </div>
</div>